<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>个人中心</title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navgation::navcopy}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-md-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span>[[${sectionName}]]</span></h2>
            <hr/>

            <div class="media" th:each="question:${pageInfoSelf.getList()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="img/dogico.img" th:src="${question.user.getAvatarUrl()}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">[[${question.title}]]</h4>
                    <span>[[${question.description}]]</span>
                    <br/>
                    <span class="text-desc">[[${question.CommentCount}]]个回复,[[${question.viewCount}]]次浏览,[[${question.likeCount}]]个喜欢</span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 总页数小于10-->
                    <li>
                        <a th:href="@{'/profile/'+${section}(pageNum=${pageInfoSelf.getPrePage()})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfoSelf.getPages()<=10}" th:each="i:${#numbers.sequence(1,pageInfoSelf.getPages())}">
                        <a th:href="@{'/profile/'+${section}(pageNum=${i})}">[[${i}]]</a></li>
                    </li>
                    <li th:if="${pageInfoSelf.getPages()>10}" th:each="i:${#numbers.sequence(1,10)}">
                        <a th:href="@{'/profile/'+${section}(pageNum=${i})}">[[${i}]]</a></li>
                    </li>
                    <li>
                        <a aria-label="Next" th:href="@{'/profile/'+${section}(pageNum=${pageInfoSelf.getNextPage()})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfoSelf.getPages()>10}">
                        <form th:action="/profile/${section}" method="get" style="float: left;"><h4>跳转到<input name="pageNum" type="text" style="width: 30px;"/> <button type="submit" class="btn btn-default">跳转</button> </h4> </form>
                    </li>

                </ul>
            </nav>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section=='questions'?'list-group-item active':'list-group-item'}">我的问题</a>
                <a href="/profile/replies" th:class="${section=='replies'?'list-group-item active':'list-group-item'}">最新回复<span class="badge">14</span></a>

            </div>
        </div>
    </div>
</div>
</body>
</html>